/* lato-regular - latin */
@font-face {
  font-weight: 400;
  font-family: "Lato";
  font-style: normal;

  font-display: swap;
  src: local("Lato Regular"), local("Lato-Regular"),
  url("../fonts/lato-v15-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/lato-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-weight: 700;
  font-family: "Lato";
  font-style: normal;

  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"),
  url("../fonts/lato-v15-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url("../fonts/lato-v15-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


.screen-reader {
  position: absolute !important;

  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden;

  border: 0 !important;

  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

body {
  min-width: 320px;
  margin: 0;
  padding-top: 150px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;

  font-size: 12px;
  line-height: 18px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #585858;
  font-style: normal;

  background-color: $grey;
}
