// $mobile-size: 320px;
// $tablet-size: 768px;
// $desktop-size: 1200px;

// $mobile-gap: 10px;
// $tablet-gap: 15px;
// $desktop-gap: 20px;

// $white: #ffffff;
$grey: #e8e8e8;
$white: #ffffff;
$blue: #0073ae;

$mobile-size-max: 640px;
